body{

font-family:Arial;
background:linear-gradient(135deg,#4facfe,#00f2fe);
color:white;
text-align:center;
padding:20px;

}

.container{

background:rgba(0,0,0,0.3);
padding:20px;
border-radius:15px;
max-width:600px;
margin:auto;
margin-bottom:20px;

}

input,select,button{

padding:12px;
margin:5px;
border-radius:8px;
border:none;
font-size:16px;

}

button{

background:#00ff88;
cursor:pointer;
font-weight:bold;

}

button:hover{

background:#00cc66;

}

.option{

display:block;
width:100%;
margin:6px;

}

h1{

font-size:40px;

}


